body {
    color: #565454;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    background-color: #f2f4f4;
}

a:link, a:hover, a:visited {
    color: #0dcaf0;
    text-decoration: none;
}

h1 {
    color: #232323;
}

#footer {
    background-color: #f2f4f4;
}

#sitename {
  width: 100%;
  font-size: 4rem;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  line-height:3rem;
}

#sidebar {
  height: 100%;
  min-height: 100%;
}


#logout-form {
    display: none;
}

a.btn {
    color: #ffffff;
}

a.btn.btn-light {
    color: #000000;
}

.nav .nav-item .nav-link:link, .nav .nav-item .nav-link:visited {
  color: #565454;
  font-size: 1.2rem;
}

#sidebar-nav .sidebar-icon {
    width: 32px;
    height: 32px;
}

#sidebar-nav .nav-link {
    color: #ffffff;
}

#sidebar-nav .nav-link:hover, #sidebar-nav .nav-link.active  {
    color: #0dcaf0;
}

#userTab .nav-link {
    color: black;
}

#userTab .nav-link.active {
    color: #0dcaf0;
}

.tabroller {
    max-height: 590px;
    overflow-y: scroll;
}

.hidden-char {
    color: #f2f4f4;
    margin-right: -13px;
}

.list-unstyled li {
    list-style-type: none;
}

.page-item.active .page-link {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.page-item .page-link:hover {
    color: #232323;
}

.admin-body-bg { background-color: #f2f4f4; }
